<md-content class="md-padding">
    <md-nav-bar
            md-no-ink-bar="$ctrl.disableInkBar"
            md-selected-nav-item="$ctrl.currentNavItem"
            nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="$ctrl.goto('home')" name="home">
            Home
        </md-nav-item>
        <md-nav-item md-nav-click="$ctrl.goto('userList')" name="home">
            Users
        </md-nav-item>
        <md-nav-item ng-if="$ctrl.isLoggedIn()" md-nav-click="$ctrl.goto('createArticle')" name="createBlog">
            Create Blog
        </md-nav-item>
        <md-nav-item ng-if="$ctrl.isLoggedIn()" md-nav-click="$ctrl.goto('userArticleList')" name="about">
            My Profile
        </md-nav-item>
        <md-nav-item ng-if="!$ctrl.isLoggedIn()" md-nav-click="$ctrl.goto('login')" name="login">
            Login
        </md-nav-item>
        <md-nav-item ng-if="!$ctrl.isLoggedIn()" md-nav-click="$ctrl.goto('signup')" name="signup">
            Sign Up
        </md-nav-item>
        <md-nav-item ng-if="$ctrl.isLoggedIn()" md-nav-click="$ctrl.logout()" name="signup">
            Log out
        </md-nav-item>
        <md-nav-item md-nav-click="$ctrl.goto('about')" name="about">
            About us
        </md-nav-item>
    </md-nav-bar>

</md-content>
