<md-content style="padding-left: 20px; padding-right: 20px">
    </div md-theme="default">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>
                {{ctrl.title}}
            </h3>
        </div>
    </md-toolbar>

    <div style="padding: 20px 20px">
        <div>
            <h3 style="text-align: match-parent ">{{ctrl.story}}</h3>
        </div>

        <div>
            <h4 style="color: #7e53d6">By:{{ctrl.author}}</h4>
        </div>

        <button ng-show="ctrl.correctUser" ng-click="ctrl.goto('editArticle',ctrl.id)">Edit</button>
        <button ng-show="ctrl.correctUser" ng-click="ctrl.removeStory()"> Remove</button>
    </div>
</md-content>
