<md-content class="authContent">
    <md-card md-theme="default">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3 class="authentication">
                    Login
                </h3>
            </div>
        </md-toolbar>
        <form ng-model="addNewBlog" class="authentication">
            <div>
                <div>
                    <input required type="text" ng-model="ctrl.username" placeholder="User Name">
                </div>
            </div>
            <div>
                <div>
                    <input required type="password" ng-model="ctrl.password" placeholder="Password">
                </div>
            </div>
            <div>
                <button type="submit" ng-click="ctrl.login()">Submit</button>
                <button type="reset" ng-click="ctrl.goto('home')">Cancel</button>
            </div>
        </form>
    </md-card>
</md-content>


