<md-content class="authContent">
    <md-card md-theme="default">
        <md-toolbar>
            <div class="md-toolbar-tools" >
                <h3 class="authentication">
                    Sign Up
                </h3>
            </div>
        </md-toolbar>
        <form class="authentication" >
                <div>
                    <div>
                        <input  required type="text"  ng-model="ctrl.username" placeholder="User Name">
                    </div>
                </div>
                <div>
                    <div>
                        <input required type="password"  ng-model="ctrl.password" placeholder="Password" >
                    </div>
                </div>
                <div>
                    <div>
                        <input required type="password" ng-pattern="ctrl.pattern" ng-model="ctrl.repeatPassword" placeholder="Repeat Password">
                    </div>
                </div>
                <div>
                    <button type="submit" ng-click="ctrl.signUp()">Submit</button>
                    <button type="reset" ng-click="ctrl.goto('home')">Cancel</button>
                </div>
        </form>

    </md-card>
</md-content>


